In [1]:
#2 Import the pandas package:
import pandas as pd

In [4]:
#3 Load the CSV file as a DataFrame:
#file_url = 'https://raw.githubusercontent.com/PacktWorkshops/The-Pandas-Workshop/master/Chapter06/Data/student-mat.csv'
#file is erroring out with 404. fixed by changing code to use the local dataset for all data sets in assignment...
file_url = pd.read_json('https://data.lacity.org/resource/84iq-i2r6.json')
#data_frame = pd.read_csv(file_url, delimiter=';')
file_url

,incident_number,area_occ,rpt_dist,dispatch_date,dispatch_time,call_type_code,call_type_text
0,PD20032400001494,Van Nuys,906.0,2020-03-24T00:00:00.000,2023-07-09 09:34:26,006,CODE 6
1,PD20032800004517,Central,182.0,2020-03-28T00:00:00.000,2023-07-09 21:19:40,242DS,DOM VIOL SUSP
2,PD20032500004416,Outside,NaN,2020-03-25T00:00:00.000,2023-07-09 18:18:34,006,CODE 6
3,PD20032500003685,Outside,NaN,2020-03-25T00:00:00.000,2023-07-09 16:14:42,006,CODE 6
4,PD20032300004227,Hollywood,668.0,2020-03-23T00:00:00.000,2023-07-09 18:22:28,9212,TRESPASS SUSP
...,...,...,...,...,...,...,...
995,PD20032500001911,Foothill,1669.0,2020-03-25T00:00:00.000,2023-07-09 11:01:29,006,CODE 6
996,PD20032400003464,77th Street,1266.0,2020-03-24T00:00:00.000,2023-07-09 15:28:47,242PS,POSS SUSP
997,PD20032500000188,Outside,NaN,2020-03-25T00:00:00.000,2023-07-09 01:14:25,006,CODE 6
998,PD20032200000314,Hollenbeck,407.0,2020-03-22T00:00:00.000,2023-07-09 01:24:09,245FJ,SHOTS FIRED J/O
999,PD20032700004199,Central,156.0,2020-03-27T00:00:00.000,2023-07-09 19:37:31,415W,WOMAN

In [8]:
#13 Plot an horizontal bar chart for neighborhood and sale_price by using the pivot function:
pd.pivot_table(file_url,index=['dispatch_time']).call_type_text.plot(kind='barh');

<ipython-input-8-7fc606796acd>:2: FutureWarning: pivot_table dropped a column because it failed to aggregate. This behavior is deprecated and will raise in a future version of pandas. Select only the columns that can be aggregated.
  pd.pivot_table(file_url,index=['dispatch_time']).call_type_text.plot(kind='barh');

AttributeError: 'DataFrame' object has no attribute 'call_type_text'